@model IEnumerable<TopJobs.Web.Models.Offer>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Create/_Layout_Blank.cshtml";
}

<h2>Offers Available</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "List", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sallary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sallary)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" height="42" width="42" />
                </td>
                <td>
                    <a href=" @Url.Action("Edit", "Edit")/@Html.DisplayFor(modelItem => item.Id)">Edit</a> |
                    <a href=" @Url.Action("Details", "Details")/@Html.DisplayFor(modelItem => item.Id)">Details</a> |
                    <a class="pointer-arrow" onclick="deleteRow(@Html.DisplayFor(modelItem => item.Id))">Delete</a>

                </td>
            </tr>
        }

    </table>

    <script>
        function deleteRow(id) {
            var r = confirm("Are you sure you want to delete this offer?");
            if (r == true) {
                window.location.assign("/Delete/Delete/" + id);

            }
        }
    </script>

    <style type="text/css">
        .pointer-arrow:hover {
            cursor: pointer;
        }
    </style>
