@model TopJobs.Web.Models.Offer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Create/_Layout_Blank.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sallary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sallary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Image)" height="100" width="100" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Edit") |
    @Html.ActionLink("Back to List", "List", "List")
</p>
